/* FONTS: */

	@import url("https://fonts.googleapis.com/css?family=Audiowide");

/* BODY STYLING: */

	body {
		/* Background "Stardust" by Atle Mo (http://atle.co/); found at http://subtlepatterns.com/. */
		background-image: url("img/stardust.png");
	}

	/* Main content <div>; the background of the content <div>. */
	#main {
		background-color: #FFD956;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		width: 80%;
	}

	/* Content <div>; contained inside #main. */
	#content {
		background-color: #EDEFFF;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		width: 90%;
	}

/* TITLE: */
	h1 {
		color: #FFFFFF;
		text-shadow: 2px 2px 0px #FF5656;
		font-family: "Audiowide", sans-serif;
		text-align: center;
	}

/* SEARCH FORM: */
	.form-control {
		width: 30%;
	}