/* FONTS: */

	/* Fonts sourced from Google's font API. */
	@import url("https://fonts.googleapis.com/css?family=Audiowide");
	@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700");

/* BODY STYLING: */
	body {
		/* Background "Stardust" by Atle Mo (http://atle.co/); found at http://subtlepatterns.com/. */
		background-image: url("img/stardust.png");
		font-style: "Source Sans Pro", sans-serif;
		font-weight: 400;
	}

	a {
		color: #FF5656;
	}

	a:hover {
		color: #FFD956;
		text-decoration: none;
	}

	/* Main content <div>; the background of the content <div>. */
	#main {
		background-color: #FFD956;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;
		width: 80%;
	}

	/* Content <div>; contained inside #main. */
	#content {
		background-color: #EDEFFF;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 20px;
		width: 90%;
	}

/* TITLE: */
	h1 {
		color: #FFFFFF;
		font-family: "Audiowide", sans-serif;
		font-size: 50px;
		margin: 0;
		text-align: center;
		text-shadow: 2px 2px 0px #FF5656;
	}

/* SEARCH FORM: */
	#searchBar {
		width: 30%;
	}

/* STATUS BOX: */
	#statusBox {
		margin: 10px;
		padding: 10px;
	}

	.status {
		display: block;
		font-family: "Ubuntu Mono", monospace;
		font-size: 17px;
		font-weight: 700;
		text-align: center;
	}

	.warning {
		color: #FF5656;
	}

/* SONG DIVS: */
	.songDiv, .albumDiv, .artistDiv {
		background-color: #FFFFFF;
		box-shadow: 3px 3px 0px #6256FF;
		margin: 20px;
		overflow: hidden;
		padding: 20px;
	}

	.songDiv:hover, .albumDiv:hover, .artistDiv:hover {
		box-shadow: 3px 3px 0px #56FF5A;
	}

	.albumCover {
		border-radius: 10px;
		float: left;
		margin-right: 15px;
		height: 80px;
		width: 80px;
	}

	.albumInfo {
		margin-top: 15px;
	}

	h2, h3 {
		font-family: "Audiowide", sans-serif;
		margin: 0;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 15px;
	}