<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- Short on originality. -->
		<title>Joel's Spotify Web App</title>
		
		<!-- Importing jQuery.js, bootstrap.css, bootstrap.js, angular.js, and font-awesome.css. -->
		<script src="https://code.jquery.com/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" 
			rel="stylesheet" type="text/css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<link rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		
		<!-- Spotify application javascript. -->
		<script src="app.js"></script>

		<!-- Spotify application css. -->
		<link href="app.css" type="text/css" rel="stylesheet"/>	
		
	</head>

	<body>

		<div id="main">

			<h1>
				Joel's Spotify Web App
			</h1>

			<div id="content">

				<!-- Initializes joelsSpotify within this <div> with ng-app. -->
				<div ng-app="joelsSpotify" ng-controller="myCtrl">
				
					<!-- songForm; fill this out to search Spotify by song. -->
					<form class="container" name="songForm">

						<div class="form-group">
							<input name="search" id="searchBar" placeholder="Search for a song!" 
								ng-model="track" class="form-control">
							</input>
						</div>

						<!-- Button executes userSearch() on click. -->
						<div class="form-group">
							<button ng-disabled="songForm.search.$invalid" id="searchButton" 
								class="btn btn-primary" ng-click="userSearch()" type="submit">
								Search
							</button>
						</div>

					</form>

					<!-- statusBox warns the user if they've entered improper information and 
					displays the status of the application. It's a glorified alert(). -->
					<div id="statusBox">
						<text class="status">
							Welcome to 
							<em>
								Joel's Spotify Web App.
							</em> Awaiting your search.
						</text>
					</div>
					
					<!-- Results. -->
					<div class="container-fixed">

						<!-- This contains the list of songs produced by userSearch. -->
						<div ng-repeat="track in tracks" class="songDiv"
							title="&quot;{{track.name}},&quot; by {{track.artists[0].name}}">
							<img class="albumCover" src="{{track.album.images[1].url}}" 
								alt="{{track.album.name}}" />
							<div class="albumInfo">
									<h2>
										<i class="fa fa-music"></i>
										<a ng-href="" ng-click="play(track.preview_url, 
											track.name, track.artists[0].name)">
											{{track.name}}
										</a>
									</h2>
								<h3>
									a song by
									<a ng-href="" ng-click="artistSearch(track.artists[0].name, 
										track.artists[0].id)">
										{{track.artists[0].name}}
									</a>
									from 
									<a ng-href="" ng-click="albumSearch(track.album.name, 
										track.album.id)">
										{{track.album.name}}
									</a>
								</h3>
							</div>
						</div>

						<!-- This contains the list of songs produced by an albumSearch. -->
						<div ng-repeat="altrack in altracks" class="albumDiv"
							title="&quot;{{altrack.name}},&quot; by {{altrack.artists[0].name}}">
							<img class="albumCover" src="{{al.images[1].url}}" alt="{{al.name}}" />
							<div class="albumInfo">
									<h2>
										<i class="fa fa-music"></i>
										<a ng-href="" ng-click="play(altrack.preview_url, 
											altrack.name, altrack.artists[0].name)">
											{{altrack.name}}
										</a>
									</h2>
								<h3>
									a song by
									<a ng-href="" ng-click="artistSearch(altrack.artists[0].name, 
										altrack.artists[0].id)">
										{{altrack.artists[0].name}}
									</a>
									and track #{{altrack.track_number}} of {{al.name}}
								</h3>
							</div>
						</div>

						<!-- This contains the list of songs produced by artistSearch. -->
						<div ng-repeat="artrack in artracks" class="artistDiv"
							title="&quot;{{artrack.name}},&quot; by {{artrack.artists[0].name}}">
							<img class="albumCover" src="{{artrack.album.images[1].url}}" 
								alt="{{artrack.album.name}}" />
							<div class="albumInfo">
									<h2>
										<i class="fa fa-music"></i>
										<a ng-href="" ng-click="play(artrack.preview_url, 
											artrack.name, artrack.artists[0].name)">
											{{artrack.name}}
										</a>
									</h2>
								<h3>
									from
									<a ng-href="" ng-click="albumSearch(artrack.album.name, 
										artrack.album.id)">
										{{artrack.album.name}}
									</a>
								</h3>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</body>

</html>